* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  margin: 3rem 10rem;
  width: auto;
}
.navbar .logo {
  display: inline-block;
  width: 200px;
  text-align: left;
  font-family: "work-sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 26px;
  color: #2947A9;
}
.navbar__item {
  display: inline-block;
  font-family: "work-sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  margin: auto 10px;
  color: #14171F;
}
.navbar__item_glow {
  color: #F9995D;
}