.navbar {

    width: auto;
    vertical-align: middle;
    .logo {
        display: inline-block;
        width: 200px;
        text-align: left;
        font-weight: 700;
        font-size: 40px;
        line-height: 26px;

        color: #2947A9;

        img{
            color: blue;
            margin-right: 10px;
            width: 40px;
        }
    }


    &__item {

        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: auto 10px;
        color: #14171F;

        &_glow {
            color: #F9995D;
        }
    }
}